doctype html

include header

body
  div#main-grid.ui.center.aligned.grid
    div.twelve.wide.column
      div#status-bar.ui.segment
        div#progress-bar.ui.progress.indicating.top.attached
          div.bar
        span#progress-text
        i.icon.checkmark.green
        span#correct-text
        i.icon.remove.red
        span#wrong-text

      div.ui.segments
        div.ui.segment
          p#question-para


      div#feedback-grid.ui.grid.stackable.centered
        div.four.wide.column
          button#correct-button.ui.fluid.labeled.icon.button.positive
            i.icon.checkmark
            | Correct

        div.four.wide.column
          button#wrong-button.ui.fluid.labeled.icon.button.negative
            i.icon.remove
            | Wrong

  div#modal.ui.modal
    div.header Finished.
    div.description
      p#modal-text
    div.actions
      div#modal-button.ui.button.positive.right
        | Next
  div(style="display: none;").
    \(\usepackage{mhchem}\)


  script(src="semantic/jquery.min.js")
  script(src="semantic/semantic.min.js")
  script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
  script(type="text/x-mathjax-config").
    MathJax.Ajax.config.path["Contrib"] = "//cdn.mathjax.org/mathjax/contrib";
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        processEscapes: true
      },
      TeX: {
        extensions: ["mhchem.js", "AMSmath.js","AMSsymbols.js", "[Contrib]/siunitx/siunitx.js"],
      },
    });
  script(src="js/main.js")
